<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit"><button>Edit</button></a>
      <form class="inline" action="/<%= file%>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

  <a href="/new"><button>New Document</button></a>

  <div>
    <% if !session[:user_id] %>
      <p class="user-status"><a href="/users/signin"><button>Sign In</button></a></p>
    <% else %>
      <form class="inline" action="/users/signout" method="post">
        <p class="user-status">
          Signed in as <%= session[:user_id] %>.
          <button type="submit">Sign Out</button>
        </p>
      </form>
    <% end %>
  </div>
